<section class="we-offer-area text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>ONLINE RAILWAY RESERVATION SYSTEM</h2>
                    <h4>Our Services Matter...</h4>
                </div>
            </div>
        </div>
            <div class="row our-offer-items less-carousel">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-pen-fancy"></i>
                        <h4>Ticket Enquiry</h4>
                        <p>
                            Toll free number - 1800-555-789 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-dharmachakra"></i>
                        <h4>Write to us at...</h4>
                        <p>
                            Email - onlinerailway@reservation.com
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-tasks"></i>
                        <h4>Help Line 24/7</h4>
                        <p>
                            Toll free number - 1800-555-789 
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
    </div>
</section>