<body class="bg">
 <div style="background-image: url('https://images.unsplash.com/photo-1515165562839-978bbcf18277?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');">
     
<div class="Head">
    <h1>ONLINE RAILWAY RESERVATION SYSTEM</h1>
        
    
        
    
    <div class="buttons">
    
    <ul>
        <br>
        <li><b>HOME</b></li>
        <br>
        <li><a routerLink='/userLogin'>USER-LOGIN</a></li>
        <br>
        <li><a routerLink='/userreg'>NEW USER REGISTRATION</a></li>
        <br>
        <li><a routerLink='/AdminLogin'>ADMIN-LOGIN</a></li>
        <br>
        <li><a routerLink='/trainData'>TRAIN-SCHEDULE</a></li>
        <br>
        <li><a routerLink='/helpLine'>SUPPORT</a></li>
    </ul>
    <div>
        
    </div>
    
    </div>
    </div>
 </div>   

</body>