h1{
    text-align: center;
    vertical-align: center ;
    background: linear-gradient(to right, brown, red);
    color: whitesmoke;
    font-style:initial;
    font-size: 70px;
    padding-bottom: 12px;
  }
body {
    background: brown;
    background: linear-gradient(to right, brown, red);
    padding-bottom: 15%;
}
  .d-grid {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  